apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: databases-pvc
  namespace: insider-risk
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard

